<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmgarzo.newratescar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.AppProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".VehiclesActivity"
            android:label="@string/title_activity_vehicle"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.MainActivity" />
        </activity>
        <activity
            android:name=".VehicleDetailActivity"
            android:label="@string/title_activity_vehicle_detail"
            android:parentActivityName=".VehiclesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.VehiclesActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.MainActivity" />
        </activity>
        <activity
            android:name=".RefuelsActivity"
            android:label="@string/title_activity_refuels"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.MainActivity" />
        </activity>
        <activity
            android:name=".RefuelDetailActivity"
            android:label="@string/title_activity_refuel_detail"
            android:parentActivityName=".RefuelsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.RefuelsActivity" />
        </activity>
        <activity
            android:name=".RoadworthinessActivity"
            android:label="@string/title_activity_roadworthiness"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.RoadworthinessActivity" />
        </activity>
        <activity
            android:name=".RoadworthinesDetail"
            android:label="@string/title_activity_roadworthines_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tolls"
            android:label="@string/title_activity_tolls"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.RoadworthinessActivity" />
        </activity>
        <activity
            android:name=".TollDetail"
            android:label="@string/title_activity_toll_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Insurance"
            android:label="@string/title_activity_insurance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.MainActivity" />
        </activity>
        <activity
            android:name=".InsuranceDetail"
            android:label="@string/title_activity_insurance_detail"
            android:parentActivityName=".Insurance"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.Insurance" />
        </activity>
        <activity
            android:name=".Maintenances"
            android:label="@string/title_activity_maintenances"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.MainActivity" />
        </activity>
        <activity
            android:name=".MaintenanceDetail"
            android:label="@string/title_activity_maintenance_detail"
            android:parentActivityName=".Maintenances"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmgarzo.newratescar.Maintenances" />
        </activity>
    </application>

</manifest>